body{
    background-color: #200BA4;
    height: auto;
    font-family: monospace;
}
header{
    /* background-color: rgb(17, 40, 101); */
    display: inline-block;
    /* justify-content: space-around; */
    height: 6vh;
    /* justify-content: right; */
    border-radius: 10px;
    /* box-shadow: 2px 2px 5px black; */
}


.nav-buttons button{
    background-color: rgba(0, 0, 0, 1);
    color:white;
    /* margin: 0;
    padding: 0; */
    height: 6vh;
    /* width: 100%; */
    /* margin-right: 3vw; */
    border: 0;
    font-size: 32px;
    font-weight: bold;
    /* box-shadow: 2px 2px 5px black; */
}

header button:hover{
    background-color: rgb(107, 140, 231);
    color:black;
}

main{
    background-color: #290ED4;
    display: inline-block;
    margin: 0 auto;
    margin-top: 1vh;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    text-align: center;
}

h1{
    font-size: 48px;
    color: white;
}

img{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
}

p{
    font-size: 24px;
    color:white
}