body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: grid;
    place-content: center;
    background-color: whitesmoke;
    text-align: center;
    /* grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    align-self: center; */
}

.nav-buttons {
    background-color: black;
    display: flex;
    justify-content: center;
    padding-right: 5%;
    margin-top: 10px;
}

.nav-button{
    height: 50px;
    width: 150px;
    font-size: 28px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

#info{
    justify-content: center;
    text-align: center;
}

#info img{
    margin: auto;
}

#info p{
    font-size: 24px;
}

#tag-line{
    margin-top: 0.1%;
    /* line-height: 0.1; */
}

hr{
    width: 100%;
    height: 1px;
    background-color: grey;
}
