body{
    background-color: rgb(28, 64, 166);
    background-image: url(Images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    font-family: monospace;
}
header{
    background-color: rgb(17, 40, 101);
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

header button{
    background-color: rgb(40, 82, 197);
    height:5vh;
    width: 15%;
    margin-right: 3vw;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bold;
    box-shadow: 2px 2px 5px black;
}

header button:hover{
    background-color: rgb(107, 140, 231);
    color:black;
}